<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  
  <%- include('./partials/nav.ejs') %>

  <img src="/waldo-face.jpg" alt="Waldo 404">
  <div class="missing" >
    OOPS, page not found :)
  </div>

  <%- include('./partials/footer.ejs') %>
</body>
</html>