<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  
  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Excepteur eu esse proident est.</p>
    <p>Elit elit veniam officia proident magna culpa aute. Non duis anim pariatur tempor occaecat Lorem magna cillum incididunt. Irure laboris occaecat nisi excepteur labore qui nisi ex. Reprehenderit deserunt sunt aute veniam minim ipsum reprehenderit do quis nostrud minim tempor occaecat. Occaecat laborum fugiat aliqua amet velit ullamco sint cillum duis magna aliquip in ipsum velit. Voluptate fugiat laboris dolore eu.</p>
    <p>Cillum incididunt veniam pariatur sit id in proident commodo. Incididunt labore deserunt enim nostrud in. Ad culpa excepteur ullamco et nostrud esse in. Nostrud laboris elit anim nostrud irure aliqua ut occaecat. Reprehenderit amet Lorem irure pariatur Lorem.</p>
  </div>

  <%- include('./partials/footer.ejs') %>
</body>
</html>